* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'calibri';
    border-left: 250px;
    background-color: white;
}

.reins {
    color: black;
    
    font-size: 30px;
    margin-top: 0px;
}

h1 {
    font-size: 50px;
    text-align: center;
    border-left: 50px;
}

.container {
    margin-left: 250px;
    margin-top: 50px;
}

.conte {
    margin-top: 30px;
    margin-left: 30px;
}

.conte a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    background: rgb(50, 59, 141);
    padding: 8px 20px;
    border-radius: 30px;
    margin: 20px;
    transition: background-color 1s;
}